<h1>Icons:</h1>

<h2>Material Design Icons</h2>
<hr>
<ng4-icons [path]="mdiAccount" ></ng4-icons>
<hr>
<ng4-icons name="home" ></ng4-icons>
<hr>
<ng4-icons name="pin" ></ng4-icons>
<hr>
<ng4-icons name="pin-off" ></ng4-icons>
<hr>

<!--
<div>
  <ng4-icons icon="home"></ng4-icons>
  <ng4-icons [icon]="homeIcon" color="blue"></ng4-icons>
</div>

<div>
  <p>String Based: <ng4-icons icon="home" color="blue"></ng4-icons></p>
  <p>Object Based: <ng4-icons [icon]="homeIcon" color="blue"></ng4-icons></p>
</div>

<div>
  <ng4-icons [icon]="homeIcon" height="48px" width="48px"></ng4-icons>
  <ng4-icons [icon]="homeIcon" color="green" height="48px" width="48px"></ng4-icons>
</div>

<div>
  <p style="font-size: 36px">Inline Icon:
    <ng4-icons [icon]="homeIcon" [inline]="true" height="1em" width="1em"></ng4-icons>
  </p>
  <p style="font-size: 24px">Inline Icon:
    <ng4-icons [icon]="homeIcon" [inline]="true" height="1em" width="1em"></ng4-icons>
  </p>
  <p style="font-size: 16px">Inline Icon:
    <ng4-icons [icon]="homeIcon" [inline]="true" height="1em" width="1em"></ng4-icons>
  </p>
  <p style="font-size: 12px">Inline Icon:
    <ng4-icons [icon]="homeIcon" [inline]="true" height="1em" width="1em"></ng4-icons>
  </p>
</div>

<h3>Rotate</h3>

<div>
  <ng4-icons [icon]="homeIcon" height="48px" width="48px"></ng4-icons>
  <ng4-icons [icon]="homeIcon" height="48px" rotate="1" width="48px"></ng4-icons>
  <ng4-icons [icon]="homeIcon" height="48px" rotate="2" width="48px"></ng4-icons>
  <ng4-icons [icon]="homeIcon" height="48px" rotate="3" width="48px"></ng4-icons>
</div>

<h3>Transform</h3>

<div>
  <ng4-icons [icon]="groupAddIcon" height="48px" width="48px"></ng4-icons>
  <ng4-icons [hFlip]="true" [icon]="groupAddIcon" height="48px" width="48px"></ng4-icons>
</div>

<div>
  <ng4-icons [icon]="groupAddIcon" height="48px" width="48px"></ng4-icons>
  <ng4-icons [icon]="groupAddIcon" [vFlip]="true" height="48px" width="48px"></ng4-icons>
</div>

<h2>Font Awesome</h2>

<div>
  <ng4-icons [icon]="bellSlashIcon"></ng4-icons>
  <ng4-icons [icon]="bellSlashIcon" color="blue"></ng4-icons>
</div>


<div>
  <ng4-icons [icon]="bellSlashIcon" height="48px" width="48px"></ng4-icons>
  <ng4-icons [icon]="bellSlashIcon" color="green" height="48px" width="48px"></ng4-icons>
</div>

<div>
  <p style="font-size: 36px">Inline Icon:
    <ng4-icons [icon]="bellSlashIcon" [inline]="true" height="1em" width="1em"></ng4-icons>
  </p>
  <p style="font-size: 24px">Inline Icon:
    <ng4-icons [icon]="bellSlashIcon" [inline]="true" height="1em" width="1em"></ng4-icons>
  </p>
  <p style="font-size: 16px">Inline Icon:
    <ng4-icons [icon]="bellSlashIcon" [inline]="true" height="1em" width="1em"></ng4-icons>
  </p>
  <p style="font-size: 12px">Inline Icon:
    <ng4-icons [icon]="bellSlashIcon" [inline]="true" height="1em" width="1em"></ng4-icons>
  </p>
</div>

<h3>Rotate</h3>

<div>
  <ng4-icons [icon]="bellSlashIcon" height="48px" width="48px"></ng4-icons>
  <ng4-icons [icon]="bellSlashIcon" height="48px" rotate="1" width="48px"></ng4-icons>
  <ng4-icons [icon]="bellSlashIcon" height="48px" rotate="2" width="48px"></ng4-icons>
  <ng4-icons [icon]="bellSlashIcon" height="48px" rotate="3" width="48px"></ng4-icons>
</div>

<h3>Transform</h3>

<div>
  <ng4-icons [icon]="bellSlashIcon" height="48px" width="48px"></ng4-icons>
  <ng4-icons [hFlip]="true" [icon]="bellSlashIcon" height="48px" width="48px"></ng4-icons>
</div>

<div>
  <ng4-icons [icon]="bellSlashIcon" height="48px" width="48px"></ng4-icons>
  <ng4-icons [icon]="bellSlashIcon" [vFlip]="true" height="48px" width="48px"></ng4-icons>
</div>

<h3>Directive</h3>

<div [icIcon]="bellSlashIcon"></div> -->
